<div class="table-responsive " style="margin-top: auto;">
    <table id="table_deudas" width="100%" cellspacing="0" class="table table-hover ">
        <thead>
            <tr>
                <th class="text-center" scope="col">Fecha</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Descripcion</th>
                <th class="text-center" scope="col">Valor</th>
                <th class="text-center" scope="col">Abono</th>
                <th class="text-center" scope="col">Diferencia</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each deudas}}
            <tr>
                <th scope="row">{{format fecha}}</th>
                <td>{{estado}}</td>
                <td>{{descripcion}}</td>
                <td>$ {{valor}}</td>
                <td>- $ {{abono}} </td>
                <td>$ {{math valor "-" abono}}</td>
                <td><a type="button" class="btn btn-danger btn-eliminar" data-deuda="{{valor}}" data-id="{{_id}}"><i class="fas fa-trash"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script src="/js/table_deudas.js"></script>